<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org" lang="en">

<head>
<!--TITLE-->
    <title>Cody Ward | Digital Portfolio</title>
<!--FAVICON -->
    <link rel="shortcut icon" type="image/png" href="assets/img/favicon.png"/>
        
<!--META TAGS-->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    
<!--FONTS-->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:100,400|Roboto+Condensed:400">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    
<!--STYLES-->
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/style.min.css">
    
</head>

<body ng-app="myApp" class="ng-cloak" ng-controller="mainController">

<!--HEADER SECTION-->
	<header class="header-container">
		<nav class="navbar navbar-inverse">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">CW</a>
				</div>
				<div class="collapse navbar-collapse" id="myNavbar">
					<ul class="nav navbar-nav">
						<li><a href="#home">Home</a></li>
						<li><a href="#projects">Projects</a></li>
						<li><a href="#employment">Employment</a></li>
						<li><a href="#education">Education</a></li>
						<li><a href="#mooc">MOOC Training</a></li>
						<li><a href="#resume">Résumé</a></li>
						<li><a href="#feedback">Feedback</a></li>
					</ul>
				</div>
			</div>
		</nav>
	</header>
	
<!--RESULTS SECTION-->
		<div class="info">	
			<p><span class="highlight">TAP</span> on a tile to reveal more information.</p>	
		</div>
		<div class="section-title clearfix" id="projects">
			<h1>Projects</h1>
		</div>
		<section class="project-container">
			<div class="col-sm-4 tile-container" ng-repeat="result in results | filter:tagFilter">
				<div class="tile">
					<div class="front"><img src="{{ result.image }}"></div>
					<div class="back">
						<h3>{{result.title}}</h3>
						<p>{{result.description}}</p>
						<span class="tags-box">
							<span class="tag" ng-repeat="tech in result.tech">{{ tech }}</span>
						</span>
					</div>
				</div>
				<div class="action-box">
					<a target="_blank" href="{{ result.link }}"><span class="action-button">{{ result.action }} <i class="fa {{ result.fa }}"></i></span></a>
				</div>
			</div>		
		</section>

<!--EMPLOYMENT SECTION-->
		<div class="section-title clearfix" id="employment">
			<h1>Employment</h1>
		</div>
		<section class="employment-container">
			<div class="col-sm-4 tile-container no-selection" ng-repeat="x in employment">
				<div class="tile">
					<div class="front"><img src="{{ x.image }}"></div>
					<div class="back">
						<h3>{{ x.employer }}</h3>
						<p>{{ x.description }}</p>
						<p class="position">{{ x.position }}</p>
						<p class="duration clearfix">{{ x.duration }}</p>
					</div>
				</div>
				<div class="action-box">
					<a target="_blank" href="{{ x.link }}"><span class="action-button">{{ x.action }} <i class="fa {{ x.fa }}"></i></span></a>
				</div>
			</div>
		</section>
	
<!--EDUCATION SECTION-->
		<div class="section-title clearfix" id="education">
			<h1>Education</h1>
		</div>
		<section class="education-container">
			<div class="col-sm-4 tile-container no-selection" ng-repeat="edu in education">
				<div class="tile">
					<div class="front"><img src="{{ edu.image }}"></div>
					<div class="back">
						<h3>{{ edu.school }}</h3>
						<p>{{ edu.description }}</p>
						<p class="degree">{{ edu.degree }}</p>
						<p class="duration clearfix">{{ edu.duration }}</p>
					</div>
				</div>
				<div class="action-box">
					<a target="_blank" href="{{ edu.link }}"><span class="action-button">{{ edu.action }} <i class="fa {{ edu.fa }}"></i></span></a>
				</div>
			</div>
		</section>
		
<!--MOOC SECTION-->
		<div class="section-title clearfix" id="mooc">
			<h1>MOOC Training</h1>
		</div>
		<section class="education-container">
			<div class="col-sm-4 tile-container no-selection" ng-repeat="mooc in training">
				<div class="tile">
					<div class="front"><img src="{{ mooc.image }}"></div>
					<div class="back">
						<h3>{{ mooc.site }}</h3>
						<p>{{ mooc.description }}</p>
						<p class="duration">{{ mooc.duration }}</p>
						<p class="clearfix">{{ mooc.series}}</p>
					</div>
				</div>
				<div class="action-box">
					<a target="_blank" href="{{ mooc.link }}"><span class="action-button">{{ mooc.action }} <i class="fa {{ mooc.fa }}"></i></span></a>
				</div>
			</div>
		</section>
		
<!--RESUME SECTION-->
		<div class="section-title clearfix" id="resume">
			<h1>Résumé</h1>
		</div>
		<section class="education-container">
			<div class="col-sm-4 tile-container no-selection" ng-repeat="resume in resumes">
				<div class="tile">
					<div class="front"><img src="{{ resume.image }}"></div>
					<div class="back">
						<h3>{{ resume.type }}</h3>
						<p>{{ resume.description }}</p>
					</div>
				</div>
				<div class="action-box">
					<a target="_blank" href="{{ resume.link }}"><span class="action-button">{{ resume.action }} <i class="fa {{ resume.fa }}"></i></span></a>
				</div>
			</div>
		</section>
		
<!--FEEDBACK SECTION-->
		<div class="section-title clearfix" id="feedback">
			<h1>Feedback</h1>
		</div>
		<section class="feedback-container">
			<div class="feedback-tile">
				<div class="carousel-box">
					<div id="feedbackCarousel" class="carousel slide" data-ride="carousel">
						<ol class="carousel-indicators">
							<li data-target="#feedbackCarousel" data-slide-to="0" class="active"></li>
							<li data-target="#feedbackCarousel" data-slide-to="1"></li>
							<li data-target="#feedbackCarousel" data-slide-to="2"></li>
							<li data-target="#feedbackCarousel" data-slide-to="3"></li>
							<li data-target="#feedbackCarousel" data-slide-to="4"></li>
							<li data-target="#feedbackCarousel" data-slide-to="5"></li>
						</ol>
						<div class="carousel-inner" role="listbox">
							<div ng-repeat="x in feedback" class="quote-container item {{ x.active }}">
								<div class="quote-box">
									<p class="quote-text">{{ x.quoteText }}</p>
									<p class="credit">{{ x.quoteSource }}</p>
									<p class="roll">{{ x.sourceRoll }}</p>
								</div>
							</div>	
							<p class="credit">{{ x.quoteSource }}</p>
							<p class="roll">{{ x.sourceRoll }}</p>
						</div>
						<a class="left carousel-control" href="#feedbackCarousel" role="button" data-slide="prev">
							<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
							<span class="sr-only">Previous</span>
						</a>
						<a class="right carousel-control" href="#feedbackCarousel" role="button" data-slide="next">
							<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
							<span class="sr-only">Next</span>
						</a>
					</div>
				</div>	
			</div>
			<div class="form-box">
				<form action="feedback.php">
					<input type="text" name="name" placeholder="Name"><br>
					<input type="text" name="email" placeholder="Email"><br>
					<input type="text" name="subject" placeholder="Subject"><br> 
					<textarea name="feedback" rows="10" cols="50" placeholder="Feedback"></textarea>
					<div class="submit-box">
						<button type="submit">
							<span>Submit <i class="fa fa-paper-plane"></i></span>
						</button>
					</div>
				</form>	
			</div>
		</section>
		
<!--FOOTER SECTION-->
	<footer class="footer-container" ng-controller="footerController">
		<div class="social-box">
			<div ng-repeat="x in social" class="social-icon">
    			<a target="_blank" href="{{ x.link }}"><i class="social-icon-logo fa {{ x.icon }}"></i></a>
    		</div>	
		</div>
		<div class="tagline-box">
			<p>&copy; 2016 Cody Ward. All Rights Reserved.</p>
		</div>
	</footer>
		
<!--SCRIPT TAGS-->
    <script src="assets/js/jquery-1.12.4.min.js"></script>
    <script src="assets/js/angular.min.js"></script>
    <script src="assets/js/bootstrap-ui-0.12.1.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/app.js"></script>
    <script src="assets/js/main.js"></script>
    
<!--GOOGLE ANALYTICS-->
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
	
		ga('create', 'UA-79527012-1', 'auto');
		ga('send', 'pageview');
	</script>
</body>
</html>