/*##################################################
    DEVELOPER: CODY L. WARD
##################################################*/

// VARIABLE IMPORT
@import '_variables';

// ANGULAR HELPERS
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {display: none !important;}

// BASIC TAG OVERRIDES
body, html {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background: white;
    background-image: url("../svg/background.svg");
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}
h1, h2, h3, h4, h5, h6, {
    font-weight: 100;
    padding: 0;
    margin: 0;
    color: $grey900;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
}
h1 {
    font-size: 2.5em;
    line-height: 50px;
    text-align: center;
}
h2 {
    font-size: 1em;
    text-align: center;

}
h3, h4 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

p {
    margin: 0px;
    padding: 0px;
    font-size: 1em;
    color: white;
}

// BOOTSTRAP OVERRIDES
.navbar {
    margin: 0px !important;
    border-radius: 0px !important;
    border: 0px !important;
    background: rgba(33,33,33, 0.9) !important; //$grey900  
    a {color: white !important;} 
}
.carousel-control.left, 
.carousel-control.right {
    background-image:none !important;
    filter:none !important;
}

.left,
.right {
    color: $grey900;
    opacity: 1;
    &:hover {color: $grey800;}
}
.carousel-indicators li {
    background: $grey900;
    border: 2px solid $grey900;
}

// CUSTOM HELPER CLASSES
.section-title {
    height: 50px;
    width: 80%;
    max-width: 1000px;
    margin: 20px auto;
    background: $accent;
    display: block;
    box-shadow: 2px 2px 8px $grey800;
}
.heading-header {
        background: red !important; 
        padding: 5px 2px;
        text-align: left;
}
.filter-button,
.action-button {
    height: 30px;
    width: auto;
    padding: 0px 10px;
    background: $grey700;
    border-radius: 5px;
    display: block;
    margin-right: 10px;
    float: left;
    text-align: center;
    cursor: pointer;
    font-size: 1em;
    line-height: 30px;
    color: white;
    &:hover {background: $grey800;}
}
.action-button {
    padding: 0px 10px;
    margin-right: 0px;
}
.active-button {
    background: $accent !important;
    h2{color: white;}
}
.action-box {
    margin-top: 20px;
    float: right;
}
.no-selection {
     user-select: none; 
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
}
.highlight {
    background: white;
    color: $grey800;
    font-weight: bold;
    padding: 2px 6px;
    border-radius: 5px;
}
.clearfix {clear: both;}
.info {
    height: auto;
    width: 70%;
    max-width: 360px;
    padding: 10px;
    line-height: 20px;
    margin: 20px auto;
    background: $grey800;
    display: block;
    text-align: center;
    box-shadow: 2px 2px 8px $grey800;
}
.project-container,
.employment-container,
.education-container {
    height: 500px;
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    display: block;
    background: rgba(97,97,97,0.8); //$grey700;
    padding: 1%;
    overflow-y: scroll;
    box-shadow: 2px 2px 8px $grey800;
}
.tile-container {
    height: auto;
    width: 31.33%;
    background: white;
    padding: 2%;
    margin: 1%;
    box-shadow: 2px 2px 8px $grey800;
    -webkit-perspective: 700px;
    -moz-perspective: 700px;
    -o-perspective: 700px;
    perspective: 700px;
    img {
        height: auto;
        width: 100%;
        box-shadow: 2px 2px 8px $grey800;
    }
}
.tile {
    height: 100%;
    width: 100%;
    cursor: pointer;
    -webkit-transition: -webkit-transform 0.5s;
    -moz-transition: -moz-transform 0.5s;
    -o-transition: -o-transform 0.5s;
    transition: transform 0.5s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-origin: 50% 50%;
    div {
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -o-backface-visibility: hidden;
        backface-visibility: hidden;
    }
}
.front {
    display: block;
    height: 100%;
    width: 100%;
    color: white;
}
.back {
    height: 100%;
    width: 100%;
    position: absolute;
    padding: 5%;
    top: 0;
    left: 0;
    background: $grey800;
    box-shadow: 2px 2px 8px $grey800;
    -webkit-transform: rotateY( 180deg );
    -moz-transform: rotateY( 180deg );
    -o-transform: rotateY( 180deg );
    transform: rotateY( 180deg );
}
.flipped {
    -webkit-transform: rotateY( 180deg );
    -moz-transform: rotateY( 180deg );
    -o-transform: rotateY( 180deg );
    transform: rotateY( 180deg );
}
.tags-box {
    height: auto;
    width: 100%;
    margin: 5px 0px;
    display: block;
    float: left;
}
.tag,
.position,
.degree,
.duration {
    color: white;
    background: $grey900;
    margin-right: 5px;
    margin-bottom: 5px;
    font-size: 0.8em;
    padding: 2px 5px;
    border: 2px solid white;
    border-radius: 5px;
    float: left;
}

// FEEDBACK
.feedback-container {
    height: auto;
    min-height: 500px;
    width: 80%;
    max-width: 1200px;
    margin: 0 auto 40px auto;
    display: block;
    background: rgba(97,97,97,0.8); //$grey700;
    padding: 20px;
    overflow: hidden;
}
.form-box,
.feedback-tile {
    height: 380px;
    width: calc(96% - 300px);
    display: block;
    float: left;
    float: left;
    margin: 1%;
    input[type="text"] {  
        height: 40px;
        width: 100%;
        margin-bottom: 20px;
        font-size: 1.3em;
        padding: 10px;
        border: none;
        border-radius: 0px;
        box-shadow: 0px 2px 10px $grey900;
    }
    textarea {
        height: 200px;
        width: 100%;
        padding: 10px;
        font-size: 1.3em;
        resize: none;
        margin: 0px;
        border: none;
        border-radius: 0px;
        box-shadow: 0px 2px 10px $grey900;
    }
}
.submit-box {
    height: 65px;
    width: 100%;
    padding-top: 15px;
    button[type="submit"] {
        float: right;
        height: 50px;
        font-size: 1.5em;
        color: white;
        padding: 0px 30px;
        background: $accent;
        border: none;
        box-shadow: 0px 2px 10px $grey900;
        &:hover {background: rgba(153,153,255,0.8);}
    }
}
.feedback-tile {
    width: auto;
    box-shadow: 0px 2px 10px $grey900;
}
.carousel-box {
    height: 380px;
    width: 300px;
    padding: 20px 0px;
    background: white;
    margin: 0px !important;
}
.quote-container {height: 350px;} //Fixes cut off on slide transition
.quote-box {
    padding: 0px 10px;
    width: 75%;
    margin: 0px auto;
}
.quote-text {
    font-size: 1.6em;
    font-style: italic;
    text-align: center;
    color: $grey900 !important;
}
.credit {
    margin-top: 10px !important;
    padding: 0px !important;
    font-size: 1.2em !important;
    text-align: right !important;
    color: $accent !important;
}
.roll {
    margin: 0px;
    margin-bottom: 20px;
    color: $grey500;
    font-size: 0.9em;
    text-align: right !important;
}

// FOOTER
.footer-container {
    height: 180px;
    width: 100%;
    background: rgba(33,33,33, 0.9) !important; //$grey900  
    display: block;
    float: left;
    p {
        color: white !important;
        padding: 0px;
        text-align: center;
    }
}
.social-box {
    width: 260px;
    height: 140px;
    margin: 0px auto;
    padding: 10px;
}
.social-icon {
    height: 50px;
    width: 50px;
    margin: 5px 5px;
    background: $grey800;
    border-radius: 25px;
    float: left;
    font-size: 2em;
    text-align: center;
    &:hover {background: $grey700;}
}
.social-icon-logo {
    color: white !important;
    line-height: 50px;
}

/*##################################################
    thanks.html
##################################################*/
.thank-you-wrapper {
    height: 200px;
    width: 500px;
    padding: 30px;
    text-align: center;
    overflow: hidden;
    background: $grey700;
    position: absolute;
    left: calc(50% - 250px);
    bottom: calc(50% - 75px);
    h1 {font-size: 1.7em}
    a {
        font-size: 1.2em;
        text-decoration: none;
        color: white;
        &:hover {text-decoration: underline;}
    }
}

/*##################################################
    MEDIA QUERIES
##################################################*/

// 992px
@media only screen and (max-width : 992px) {
    .tile-container {
        width: 48%;
        margin: 0px 1% 2% 1%;
        padding: 4%;
        display: block;
        float: left;
    }
    .filter-box {
        display: block;
        float: left;
        clear: both;
        height: auto;
    }
    .filter-button {margin-bottom: 10px;}
}

// 768px
@media only screen and (max-width : 768px) {
    h3 {
        font-size: 1em !important;
        margin-bottom: 2px !important;
    }
     p {font-size: 0.8em !important;}
    .form-box {
        padding: 5%;
        width: 100%;
        height: auto;
        margin: 0;
    }
    .submit-box {
        height: 50px;
        width: 153px;
        padding: 0px;
        float: none;
        margin: 0px auto;
        margin-top: 20px;
    }
    .feedback-tile {
        height: auto;
        width: 300px;
        display: block;
        margin: 0px auto;
        float: none;
    }
    .quote-text {
        font-size: 1.2em !important;
    }
    .tile-container {
        margin-top: 20px;
    }
    .project-container,
    .education-container,
    .employment-container,  
    .feedback-container {
        height: auto;
        width: 70%;
    }
    .tags {
        p {font-size: 0.7em !important;}
    }
}

// 480px
@media only screen and (max-width : 480px) {
    h2 {font-size: 1.1em !important;}
    .section-title {
        width: 70%;
    }
    .tile-container {
        width: 90%;
        margin: 5% 5% 2% 5%;
        padding: 4%;
        display: block;
        float: left;
    }
    .filter-box {
        display: block;
        float: left;
        clear: both;
        height: auto;
    }
    .filter-button {margin-bottom: 10px;}
    .carousel-box,
    .feedback-tile {
        width: 100%;
        margin-bottom: 20px;
    }
    .form-box {padding: 0px;}
}
 
// 320px
@media only screen and (max-width : 320px) {

}