// VARIABLE IMPORT
@import '_variables';

// ANGULAR HELPERS
// [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {display: none !important;}

// BASIC TAG OVERRIDES
body, html {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif !important;
    background: #555;
    background-image: url("../svg/background.svg");
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}
h1, h2, h3, h4, h5, h6, p {
    padding: 0;
    margin: 0;
    color: white;
}


.clearfix {clear: both};

// Bootstrap Overrides
.navbar {
  height: 80px !important;
  border-radius: 0 !important;
  background: rgba(33,33,33, 0.9) !important;
  padding: 0 !important;
  margin: 0 !important;
  border: 0 !important;
  a {
    color: white !important;
    line-height: 80px !important;
    padding: 0  10px !important;
    &:hover{
      color: #EEE !important;
      background: #444 !important;
    }
  }
}
.box {
  display: block;
  box-sizing: border-box;
  overflow: hidden;
}
.header-image {
  img {
    max-height: 50px;
    width: 50px;
  }
}
.landing-page {
  background: rgba(51, 51, 51, 0.9);
  height: calc(100% - 80px);
  width: 100%;
}
.section-title {
  height: 80px;
  width: 100%;
  background: rgba(33,33,33, 0.9);
  float: left;
  padding: 0 20px; 
  h1 {line-height: 80px;}
}
.project-container,
.branding-container {
  float: left;
  width: 50%;
  height: auto;
  max-height: 500px; 
  background: #DDD;
  img {
    width: 100%;
  }
}
.branding-container{
  width: 25%;
  background: #CFD8DC;
}
.footer {
  height: 300px;
  width: 100%;
  background: rgba(33,33,33, 0.9);
}
